---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About">
	<p class="prose max-w-prose font-mono">
		{summary}
	</p>
</Section>
