---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="https://twitter.com/SmileSharks?utm_source=portfolio_astro" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>Made by Ariel
			<svg class="text-skin-hue w-4 group-hover:animate-pulse" viewBox="0 0 55 37" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0538 0.250122L0.687988 36.422H11.3709L21.8664 18.4298L32.5493 36.422H43.2322L37.9844 27.4259L22.0538 0.250122Z" fill="currentColor" class=""></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M43.2321 36.422L48.6673 27.4259L43.607 18.4297L37.9844 27.6133L43.2321 36.422Z" opacity="5" fill="currentColor" fill-opacity="0.8" class=""></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M32.9243 0.250122L43.4198 0.250122L54.1027 18.6172L48.6675 27.4259L32.9243 0.250122Z" fill="currentColor" class=""></path>
			</svg>
		</span>
	</a>
</div>
