<div class='flex w-full max-w-7xl justify-center md:col-span-6 print:hidden slide-enter'>
  <div class='flex items-center space-x-0 text-xs opacity-50'>
    <span class='gap-1 no-underline text-center'>
      <a class='group relative' href='https://beian.miit.gov.cn/'>
        <span>赣ICP备2021005460号-1</span>
        <span
          class='absolute bottom-0 left-0 h-[1px] w-full origin-right scale-x-0 bg-current transition-transform duration-300 ease-out group-hover:origin-left group-hover:scale-x-100'
        ></span>
      </a> &
      <a
        class='group relative'
        href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36010302000349'>
        <span>赣公网安备 36010302000349号</span>
        <span
          class='absolute bottom-0 left-0 h-[1px] w-full origin-right scale-x-0 bg-current transition-transform duration-300 ease-out group-hover:origin-left group-hover:scale-x-100'
        ></span>
      </a>
      <p class="text-center mt-3">2023-PRESENT © Gong_cx ✨</p>
    </span>
  </div>
</div>
