---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import CV, { basics } from "@cv";
import Education from "@/components/sections/Education.astro";
import Images from "@/components/sections/Images.astro";
const { name, label } = basics;

enum PageLayout {
  SingleColumn = "single-column",
  TwoColumn = "two-column",
  Scroll = "scroll",
}
---

<Layout title={`${name}'s' Portfolio - ${label}`}>
  <main
    class="relative grid h-full max-w-7xl gap-12 p-8 max-sm:py-16 md:min-h-screen md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6"
  >
    <div
      class="slide-enter space-y-6 ease-in md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0"
    >
      <Hero />
      <About />
      <ThemeSwitch />
    </div>
    <div
      class="slide-enter-content space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0"
    >
      <Experience className="print:col-span-3" />
      {
        (CV?.pageLayout === PageLayout.TwoColumn || !CV?.pageLayout) && (
          <>
            <Projects className="print:hidden" />
            {CV?.images && <Images className="print:hidden" />}
            {CV?.education && <Education className="order-first" />}
            <Skills className="print:hidden" />
          </>
        )
      }
    </div>
  </main>
  {
    CV?.pageLayout !== PageLayout.TwoColumn && (
      <>
        <div class="border-t border-solid border-skin-hue print:hidden" />
        {CV?.pageLayout === PageLayout.SingleColumn && (
          <main class="relative grid max-w-[82rem] gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
            <div class="slide-enter-content space-y-6 md:col-span-6">
              <Projects className="print:hidden" />
              {CV?.images && <Images className="print:hidden" />}
              {CV?.education && <Education className="order-first" />}
              <Skills className="print:hidden" />
            </div>
          </main>
        )}

        {CV.pageLayout === PageLayout.Scroll && (
          <main class="max-w-[97%] p-8 max-md:!max-w-7xl max-sm:py-16 print:max-w-none print:grid-cols-1 print:gap-6">
            <div
              id="carousel"
              class="slide-enter-content scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 mx-auto md:col-span-6 md:overflow-x-auto md:overflow-y-auto print:max-w-none print:grid-cols-1 print:gap-6"
            >
              <div class="flex space-x-0 pb-4 max-md:gap-4 max-sm:flex-col max-sm:space-y-4 md:px-4">
                <Projects className="flex-shrink-0 w-full print:hidden border-skin-hue md:border-solid md:border md:p-4" />
                {CV?.images && (
                  <Images className="flex-shrink-0 w-full print:hidden border-skin-hue md:border-solid md:border md:p-4" />
                )}
                {CV?.education && (
                  <Education className="flex-shrink-0 w-full md:w-1/3 print:order-first border-skin-hue md:border-solid md:border md:p-4" />
                )}
                <Skills className="flex-shrink-0 w-full md:w-1/3 print:hidden border-skin-hue md:border-solid md:border md:p-4" />
              </div>
            </div>
          </main>
        )}
      </>
    )
  }
  <Tail />
  <KeyboardManager />
</Layout>

<script>
  const carousel = document.querySelector("#carousel");

  if (carousel) {
    let isScrolling = true;
    let scrollSpeed = 2;
    let direction = 1;
    let pauseTimeout: NodeJS.Timeout;

    const startAutoScroll = () => {
      const scroll = () => {
        if (!isScrolling) return;

        if (
          //@ts-ignore
          carousel.scrollLeft + carousel.offsetWidth >= carousel.scrollWidth ||
          carousel.scrollLeft <= 0
        ) {
          direction *= -1;
          isScrolling = false;
          clearTimeout(pauseTimeout);
          pauseTimeout = setTimeout(() => {
            isScrolling = true;
            requestAnimationFrame(scroll);
          }, 1000);
        }

        carousel.scrollLeft += scrollSpeed * direction;
        requestAnimationFrame(scroll);
      };

      requestAnimationFrame(scroll);
    };

    const stopAutoScroll = () => {
      isScrolling = false;
    };

    const handleUserInteraction = () => {
      stopAutoScroll();
      setTimeout(() => {
        isScrolling = true;
      }, 500);
    };

    startAutoScroll();

    carousel.addEventListener("mousedown", handleUserInteraction);
    carousel.addEventListener("wheel", handleUserInteraction);
    carousel.addEventListener("touchstart", handleUserInteraction);
  } else {
    console.log('Not in Scroll mode')
  }
</script>

<style>
  /* 自定义滚动条样式 */
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }
  .scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    border-radius: 4px;
  }
</style>

<style is:global>
  * {
    scrollbar-color: var(--color-button-muted) var(--color-fill);
  }

  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }

  @keyframes slide-enter {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .slide-enter,
    .slide-enter-content > *:not(:has(.table-of-contents)) {
      --enter-stage: 0;
      --enter-step: 400ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(
        var(--enter-initial) + var(--enter-stage) * var(--enter-step)
      );
    }

    .slide-enter-content > *:nth-child(1) {
      --enter-stage: 1 !important;
    }
    .slide-enter-content > *:nth-child(2) {
      --enter-stage: 2 !important;
    }
    .slide-enter-content > *:nth-child(3) {
      --enter-stage: 3 !important;
    }
    .slide-enter-content > *:nth-child(4) {
      --enter-stage: 4 !important;
    }
    .slide-enter-content > *:nth-child(5) {
      --enter-stage: 5 !important;
    }
    .slide-enter-content > *:nth-child(6) {
      --enter-stage: 6 !important;
    }
    .slide-enter-content > *:nth-child(7) {
      --enter-stage: 7 !important;
    }
    .slide-enter-content > *:nth-child(8) {
      --enter-stage: 8 !important;
    }
    .slide-enter-content > *:nth-child(9) {
      --enter-stage: 9 !important;
    }
    .slide-enter-content > *:nth-child(10) {
      --enter-stage: 10 !important;
    }
    .slide-enter-content > *:nth-child(11) {
      --enter-stage: 11 !important;
    }
    .slide-enter-content > *:nth-child(12) {
      --enter-stage: 12 !important;
    }
    .slide-enter-content > *:nth-child(13) {
      --enter-stage: 13 !important;
    }
    .slide-enter-content > *:nth-child(14) {
      --enter-stage: 14 !important;
    }
    .slide-enter-content > *:nth-child(15) {
      --enter-stage: 15 !important;
    }
    .slide-enter-content > *:nth-child(16) {
      --enter-stage: 16 !important;
    }
    .slide-enter-content > *:nth-child(17) {
      --enter-stage: 17 !important;
    }
    .slide-enter-content > *:nth-child(18) {
      --enter-stage: 18 !important;
    }
    .slide-enter-content > *:nth-child(19) {
      --enter-stage: 19 !important;
    }
    .slide-enter-content > *:nth-child(20) {
      --enter-stage: 20 !important;
    }
  }
</style>
